body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: 'Roboto';
  background: $bg;
}

a{
    color: $teal;
    text-decoration: none;
}

.main-container{
    position: relative;
    box-sizing: border-box;
    max-width: 34em;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
}
