.terms{
    margin: 20px;
    h1{
        margin-top: 50px;
        font-size: 35px;
        color: $darkblue;
        margin-bottom: 40px;
    }
    a{
        position: relative;
        display: inline-block;
        margin-bottom: 20px;
    }
    p{
        margin-top: 80px;
    }
}
